body {
   --accent-color: #ff4500;
   --backgroud-color: #fff;
   --text-color: #111;
   /* Background color equals to text color */
   --button-text-color: var(--backgroud-color);
   /* How fast theme switches from dark to light */
   --transition-delay: 1s;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0;

   background-color: var(--background-color);
   color: var(--text-color);
}

body.dark {
   --accent-color: #D0D066;
   --background-color: #333;
   --text-color: #fff;
}

.title {
   margin: 0;
   margin-bottom: .5rem;
}

.theme-switch-btn {
   display: flex;
   width: 250px;
   height: 75px;
   border: none;
   font-size: 1.4em;
   padding: .5em .5em;
   border-radius: 8px;
   background-color: var(--accent-color);
   /* Applies transition effect to button */
   transition: var(--transition-delay);
   /* 
   This property will make everything transition in all directions in and out;
   it also makes color ease in and ease out(transition) more smoothly
    */
   transform: scale(1);
   color: var(--button-text-color);
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.theme-switch-btn:hover,
.theme-switch-btn:focus {
   /* Enlarges the button */
   transform: scale(1.1);
   font-size: 1.5em;
}

.theme-icon {
   width: 48px;
   height: auto;
   padding-right: 5px;
}

