body {
   --accent-color: #ff4500;
   --backgroud-color: #fff;
   --text-color: #111;
   /* Background color equals to text color */
   --button-text-color: var(--backgroud-color);
   /* How fast theme switches from dark to light */
   --transition-delay: 1s;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0;

   background-color: var(--background-color);
   color: var(--text-color);
}

body.dark {
   --accent-color: #D0D066;
   --background-color: #333;
   --text-color: #fff;
}

