body {
   margin: 0;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   --accent-color: #ff4500;
   --backgroud-color: #fff;
   --text-color: #111;
   /* Background color equals to text color */
   --button-text-color: var(--backgroud-color);
   /* How fast theme switches from dark to light */
   --transition-delay: 1s;
   /* 
   Colors nicely fade in and out of each other, 
   when toggling between light and dark themes
   */
   transition: var(--transition-delay);
   background-color: var(--background-color);
   color: var(--text-color);
   /* 
   .day-night-container is larger than entire
   screen height and it creates a scroll bar.
   This property helps to avoid this issue
   */
   overflow: hidden;
}

body.dark {
   --accent-color: #D0D066;
   --background-color: #333;
   --button-text-color: #333;
   --text-color: #fff;
   .sun-btn, .moon-btn {
      color: #fff;
   }
}

.title {
   margin: 0;
   margin-bottom: .5rem;
}

.theme-switch-btn {
   display: flex;
   width: 250px;
   height: 75px;
   border: none;
   font-size: 1.4em;
   padding: .5em .5em;
   border-radius: 8px;
   background-color: var(--accent-color);
   /* Applies transition effect to button */
   transition: var(--transition-delay);
   /* 
   This property will make everything transition in all directions in and out;
   it also makes color ease in and ease out(transition) more smoothly
    */
   transform: scale(1);
   color: var(--button-text-color);
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.theme-switch-btn:hover,
.theme-switch-btn:focus {
   /* Enlarges the button */
   transform: scale(1.1);
   font-size: 1.5em;
}

.theme-icon {
   width: 48px;
   height: auto;
   padding-right: 5px;
}

.sun-btn {
   width: 75px;
   height: auto;
   background: none;
   border: none;
}

.moon-btn {
   width: 75px;
   height: auto;
   background: none;
   border: none;
}

.day-night-container {
   display: flex;
   position: absolute;
   justify-content: center;
   align-items: center;
   top: 0;
   --rotation: 0;
   pointer-events: none;
   /* vmin selects 200 min width or height in view */
   height: 200vmin;
   /* rotates the sun and moon */
   transform: rotate(calc(var(--rotation) * 1deg));
   transition: transform var(--transition-delay);
}

/* .dark .day-night-container {
   --rotation: 180deg;
} */

.sun-btn, .moon-btn {
   position: absolute;
   transition: opacity, fill, var(--transition-delay);
   width: 75px;
   height: 75px;
   fill: var(--accent-color);
}

.sun-btn {
   top: 5%;
}

/* makes the sun disappear in the dark */
.dark .sun-btn {
   opacity: 0;
}

/* makes the moon disappear in the light */
.moon-btn {
   bottom: 5%;
   opacity: 0;
   transform: rotate(180deg);
}

/* makes the moon appear in the dark */
.dark .moon-btn {
   opacity: 1;
}